/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}
select {
    appearance: auto; /* Ensures the default dropdown styling */
    -webkit-appearance: auto; /* For Safari */
    -moz-appearance: auto; /* For Firefox */
}
.custom-header-h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem; /* Dimensioni personalizzate */
    font-weight: bold;
    text-align: center; /* Centrare */
    color: #000; /* Grigio scuro */
    margin-bottom: 30px; /* Margine inferiore */
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
}

/* Personalizzazione per ogni pulsante */
button:nth-child(1) {
    background-color: #007bff; /* Blu */
}

button:nth-child(2) {
    background-color: #dc3545; /* Rosso */
}

button:nth-child(3) {
    background-color: #ffc107; /* Giallo */
}

/* Aggiungi stili per altri pulsanti qui */

/* Stili per la dimensione della pagina */
@media screen and (max-width: 600px) {
    button {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.custom-header-h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #343a40;
}

.custom-header-h5 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}
.custom-header-id-log {
    font-size: 1rem;
    font-weight: bold;
    color: #343a40;
}

.thick-separator {
    border: 0;
    height: 3px;
    background-color: #343a40;
    margin: 1rem 0;
}

.card {
    border-radius: 10px;
}
.card-body {
    padding: 20px;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.card-text {
    font-size: 1rem;
    color: #6c757d;
}
.list-group-item {
    font-size: 0.9rem;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.bold-large-text {
    font-size: 0.90rem;
    font-weight: bold;
}

.btn-margin-top {
    margin-top: 10px;
}