<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train and Validation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class = "container mt-5">
        <h1 class="custom-header-h1">Train and Validation</h1>
        <div class="card shadow-lg">
            <div class="card-body">
                <form action="/run_train" method="post">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label for="event" class="font-weight-bold fs-5">Event</label>
                            <select class="form-control" id="event" name="event" required>
                                <option value="" selected> Select an event </option>
                                {% for row in events %}
                                <option value= "{{ row['event_name'] }}"> {{ row['event_name'] }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="activity" class="font-weight-bold fs-5">Activity</label>
                            <select class="form-control" id="activity" name="activity" required>
                                <option value="" selected> Select an activity </option>
                                {% for row in activities %}
                                <option value= "{{ row['activity_name'] }}"> {{ row['activity_name'] }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label for="userid" class="font-weight-bold fs-5">User ID</label>
                            <select class="form-control" id="userid" name="userid" required>
                                {% for row in results %}
                                <option> {{ row['ID'] }} </option>
                                {% endfor %}
                            </select>
                            <!-- <input type="text" class="form-control" id="userID" placeholder="UserID" required> -->
                        </div>
                        <div class="col-md-6">
                            <label for="sid" class="font-weight-bold fs-5">Training Sequence ID</label>
                            <select class="form-control" id="sid" name="sid" required>
                                {% for i in range(1,21) %}
                                <option> {{ i }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label for="device" class="font-weight-bold fs-5">Device</label>
                            <select class="form-control" id="device" name="device" onchange="updateFeatureOptions()" required>
                                <option value="" selected> Select a device </option>
                                {% for device in devices %}
                                <option value= "{{ device['type'] }}"> {{ device['type'] }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="feature" class="font-weight-bold fs-5">Feature</label>
                            <select class="form-control" id="feature" name="feature" required> </select>
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label for="epochs" class="font-weight-bold fs-5">Epochs</label>
                            <input type="text" class="form-control" id="epochs" name="epochs" value="10" required>
                        </div>
                        <div class="col-md-4">
                            <label for="batch_size" class="font-weight-bold fs-5">Batch Size</label>
                            <input type="text" class="form-control" id="batch_size" name="batch_size" value="5" required>
                        </div>
                        <div class="col-md-4">
                            <label for="model" class="font-weight-bold fs-5">Model</label>
                            <select class="form-control" id="model" name="model" required>
                                <option value="RNN">RNN</option>
                                <option value="RNN3label">RNN3label</option>
                                <option value="LSTMauto">LSTMauto</option>
                                <option value="LSTMlabel">LSTMlabel</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <button type="submit" onclick="submitForm('/run_train');" class="btn btn-primary btn-lg">Train</button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
    </div> 
    <div class = "container mt-5">
        <h1 class="custom-header-h1">Clustering on Variance</h1>
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="row"> 
                    <!-- First Card: Kmeans -->
                    <div class="col-md-6 mb-4">
                        <div class="card shadow-lg">
                            <div class="card-body text-center">
                                <form action="/variance">
                                    <button type="submit" class="btn btn-primary btn-lg">Kmeans</button>
                                </form>
                                <p class="card-text mt-3">Perform K-means clustering on the variance data. This will generate a 3D plot showing the data points and cluster centers.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Second Card: Custom Button -->
                    <div class="col-md-6 mb-4">
                        <div class="card shadow-lg">
                            <div class="card-body text-center">
                                <form action="/variance_pca">
                                    <button type="submit" class="btn btn-secondary btn-lg">KMEANS-PCA</button>
                                </form>
                                <p class="card-text mt-3">Perform K-means clustering on the variance data with PCA. This will generate a 3D plot showing the data points and cluster centers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container mt-4">
                    <div class="row">
                        {% if show_plts %}
                        <!-- Accelerometer Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/' + plt_acc) }}" alt="Accelerometer Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <!-- Gyroscope Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/' + plt_gyro) }}" alt="Gyroscope Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if show_pca_plts %}
                        <!-- Accelerometer Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer PCA Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/' + plt_acc_pca) }}" alt="Accelerometer PCA Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <!-- Gyroscope Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope PCA Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/' + plt_gyro_pca) }}" alt="Gyroscope PCA Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row">
                        <!-- Form Card -->
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Select Logs</h5>
                                    <div class="row mb-4">
                                        <p class="card-text mt-3">Select the activity and the logs on which to train the model.</p>
                                        <form action="/process_activity" method="post">
                                            <div class="form-group">
                                                <label for="model" class="font-weight-bold fs-5">Activity</label>
                                                <select class="form-control" id="activity_log" name="activity_log" required>
                                                    <option value="" selected> Select an activity </option>
                                                    {% for row in activities %}
                                                    <option value= "{{ row['activity_name'] }}"> {{ row['activity_name'] }} </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
    
                                            <button type="submit" class="btn btn-secondary btn-margin-top">Submit Activity</button>
                                        </form>
                                    </div>
                                    <div class="row mb-4">
                                        <form action="/process_logs" method="post">
                                            <div class="form-group">
                                                <label for="model" class="font-weight-bold fs-5">Logs</label>
                                                <select class="form-control" id="logs" name="logs" required>
                                                    <option value="" selected> Select a log </option>
                                                    {% for row in logs %}
                                                    <option value= "{{ row['ID'] }}"> {{ row }} </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            
                                            <button type="submit" class="btn btn-secondary btn-margin-top">Submit Logs</button>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container mt-4">
                    <div class="row">
                        <!-- Accelerometer Card -->
                        {% if acc_dict %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer</h5>
                                    <!-- Iterate over the accel_dict dictionary -->
                                    {% for id_log, variances in acc_dict.items() %}
                                    <div class="mb-3">
                                        <h2 class="custom-header-id-log">Log_id: {{ id_log }}</h2>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span>{{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if acc_pca %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer PCA</h5>
                                    <!-- Iterate over the acc_pca dictionary -->
                                    {% for id_log, variances in acc_pca.items() %}
                                    <div class="mb-3">
                                        <h2 class="custom-header-id-log">Log_id: {{ id_log }}</h2>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span> {{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <!-- Gyroscope Card -->
                        {% if gyro_dict %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope</h5>
                                    <!-- Iterate over the gyro_dict dictionary -->
                                    {% for id_log, variances in gyro_dict.items() %}
                                    <div class="mb-3">
                                        <h5 class="custom-header-id-log">Lod_id: {{ id_log }}</h5>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span> {{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if gyro_pca %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope PCA</h5>
                                    <!-- Iterate over the gyro_pca dictionary -->
                                    {% for id_log, variances in gyro_pca.items() %}
                                    <div class="mb-3">
                                        <h5 class="custom-header-id-log">Log_id: {{ id_log }}</h5>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span> {{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class = "container mt-5">
        <h1 class="custom-header-h1">User Logs</h1>
        <div class="card shadow-lg">
            <div class="card-body">
                {% if user_movement %}
                <div class="container mt-4">
                    <div class="row">
                        <!-- Iterate over the result_list dictionary -->
                        {% for ID_user, ID_movement in user_movement.items() %}
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">User ID: {{ ID_user }}</h5>
                                        <p class="card-text">User Logs:</p>
                                        <ul class="list-group list-group-flush">
                                            {% for mov in ID_movement %}
                                                <li class="list-group-item">{{ mov }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Script per Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
