<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train and Validation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% if show_eval %}
    <div class="container mt-5">
        <h1 class="custom-header-h1">Evaluation Results</h1>
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="row mb-4">
                   <h5 class="custom-header-h5 text-center">Train on {{ train_sensor }} sensor(s)</h5> 
                </div>
                <div class="row mb-4">
                    {% if acc_conf_mat %}
                        <div class="col-md-6 mb-4">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <h5 class="custom-header-h5 text-center">Accelerometer Logs Confusion Matrix</h5>
                                    <div class="text-center">
                                        <img src="{{ url_for('static', filename = 'images/' + acc_conf_mat) }}" alt="Confusion Matrix" class="responsive-img">
                                    </div>
                                </div>
                            </div>
                        </div> 
                    {% endif %}
                    {% if gyro_conf_mat %}
                        <div class="col-md-6 mb-4">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <h5 class="custom-header-h5 text-center">Gyroscope Logs Confusion Matrix</h5>
                                    <div class="text-center">
                                        <img src="{{ url_for('static', filename = 'images/' + gyro_conf_mat) }}" alt="Confusion Matrix" class="responsive-img">
                                    </div>
                                </div>
                            </div>
                        </div> 
                    {% endif %}
                </div>
                <div class="row mb-4">
                    <div class="table-responsive">
                        <h3 class="text-center">Evaluation Accelerometer Results</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Log</th>
                                    <th scope="col" style="border-left: 1px solid #dee2e6;">Metric</th>
                                    <th scope="col" style="border-left: 1px solid #dee2e6;">Activity</th>
                                    <th scope="col" style="border-left: 1px solid #dee2e6;">Recognised</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log_id, values in acc_eval_result.items() %}
                                <tr>
                                    <td>{{ log_id }}</td>
                                    <td style="border-left: 1px solid #dee2e6;">{{ values.mse }}</td>
                                    <td style="border-left: 1px solid #dee2e6;" class="{% if values.activity == 'Positive' %}text-success{% elif values.activity == 'Negative' %}text-danger{% endif %}">{{ values.activity }}</td>
                                    <td style="border-left: 1px solid #dee2e6;" class="{% if values.Recognised == 'Positive' %}text-success{% elif values.Recognised == 'Negative' %}text-danger{% endif %}">{{ values.Recognised }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="table-responsive">
                        <h3 class="text-center">Evaluation Gyroscope Results</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Log</th>
                                    <th scope="col" style="border-left: 1px solid #dee2e6;">Metric</th>
                                    <th scope="col" style="border-left: 1px solid #dee2e6;">Activity</th>
                                    <th scope="col" style="border-left: 1px solid #dee2e6;">Recognition Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log_id, values in gyro_eval_result.items() %}
                                <tr>
                                    <td>{{ log_id }}</td>
                                    <td style="border-left: 1px solid #dee2e6;">{{ values.mse }}</td>
                                    <td style="border-left: 1px solid #dee2e6;" class="{% if values.activity == 'Positive' %}text-success{% elif values.activity == 'Negative' %}text-danger{% endif %}">{{ values.activity }}</td>
                                    <td style="border-left: 1px solid #dee2e6;" class="{% if values.Recognised == 'Positive' %}text-success{% elif values.Recognised == 'Negative' %}text-danger{% endif %}">{{ values.Recognised }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class = "container mt-5">
        <h1 class="custom-header-h1">Clustering on Variance</h1>
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="row"> 
                    <!-- First Card: Kmeans -->
                    <div class="col-md-6 mb-4">
                        <div class="card shadow-lg">
                            <div class="card-body text-center">
                                <form action="/variance" method = "POST">
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <label for="acc_iteration" class="font-weight-bold fs-5">Accelerometer Iteration</label>
                                            <select class="form-control" id="acc_iteration" name="acc_iteration" required>
                                                <option value="4" selected> 4 </option>
                                                {% for i in range(1, 6) %}
                                                <option value="{{ i }}"> {{ i }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="gyro_iteration" class="font-weight-bold fs-5">Gyroscope Iteration</label>
                                            <select class="form-control" id="gyro_iteration" name="gyro_iteration" required>
                                                <option value="3" selected> 3 </option>
                                                {% for i in range(1, 6) %}
                                                <option value="{{ i }}"> {{ i }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg">KMEANS</button>
                                </form>
                                <p class="card-text mt-3">Perform K-means clustering on the variance data for the given number of iterations. This will generate a 3D plot showing the data points and cluster centers.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Second Card: Custom Button -->
                    <div class="col-md-6 mb-4">
                        <div class="card shadow-lg">
                            <div class="card-body text-center">
                                <form action="/variance_pca" method = "POST">
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <label for="acc_iteration" class="font-weight-bold fs-5">Accelerometer Iteration</label>
                                            <select class="form-control" id="acc_iteration" name="acc_iteration" required>
                                                <option value="2" selected> 2 </option>
                                                {% for i in range(1, 6) %}
                                                <option value="{{ i }}"> {{ i }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="gyro_iteration" class="font-weight-bold fs-5">Gyroscope Iteration</label>
                                            <select class="form-control" id="gyro_iteration" name="gyro_iteration" required>
                                                <option value="2" selected> 2 </option>
                                                {% for i in range(1, 6) %}
                                                <option value="{{ i }}"> {{ i }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg">KMEANS-PCA</button>
                                </form>
                                <p class="card-text mt-3">Perform K-means clustering on the variance data with PCA for the given number of iterations. This will generate a 3D plot showing the data points and cluster centers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container mt-4">
                    <div class="row">
                        {% if plt_acc and plt_gyro %}
                        <!-- Accelerometer Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/kmeans_plt/' + plt_acc) }}" alt="Accelerometer Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <!-- Gyroscope Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/kmeans_plt/' + plt_gyro) }}" alt="Gyroscope Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if plt_acc_pca and plt_gyro_pca %}
                        <!-- Accelerometer Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer PCA Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/kmeans_plt/' + plt_acc_pca) }}" alt="Accelerometer PCA Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <!-- Gyroscope Plot -->
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope PCA Cluster Plot</h5>
                                    <img src="{{ url_for('static', filename='images/kmeans_plt/' + plt_gyro_pca) }}" alt="Gyroscope PCA Cluster Plot" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row">
                        <!-- Form Card -->
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Select Logs</h5>
                                    <div class="row mb-4">
                                        <p class="card-text mt-3">Select the activity to view the logs related to it.</p>
                                        <form action="/process_activity" method="post">
                                            <div class="row align-items-end">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="activity_log" class="font-weight-bold fs-5">Activity</label>
                                                        <select class="form-control" id="activity_log" name="activity_log" required>
                                                            <option value="" selected> Select an activity </option>
                                                            {% for row in activities %}
                                                            <option value="{{ row }}"> {{ row }} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-secondary btn-margin-top">Submit Activity</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    {% if selected_activity %}
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                <div class="card shadow-lg">
                                                    <div class="card-body">
                                                        <h1 class="custom-header-h1 mt-4 text-center">Train</h1>
                                                        <div class="row mb-4 mt-4">
                                                            <form action="/process_logs" method="post">
                                                                {% if selected_activity %}
                                                                <div class="row mb-6">
                                                                    <div class="col-md-4"> 
                                                                        <label for="event" class="font-weight-bold fs-5">Event</label>
                                                                        <select class="form-control" id="event_name" name="event_name" required onchange="setPercentageTo100()">
                                                                            <option value="" selected> Select an event </option>
                                                                            {% for row in eventNames %}
                                                                            <option value="{{ row }}"> {{ row }} </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label for="sensor" class="font-weight-bold fs-5">Sensor</label>
                                                                        <select class="form-control" id="sensor" name="sensor" required>
                                                                            <option value="Accelerometer">Accelerometer</option>
                                                                            <option value="Gyroscope">Gyroscope</option>
                                                                            <option value="Both">Both</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label for="model" class="font-weight-bold fs-5">Model</label>
                                                                        <select class="form-control" id="model" name="model" required>
                                                                            <option value="RNN">RNN</option>
                                                                            <option value="RNN3label">RNN3label</option>
                                                                            <option value="LSTMauto">LSTMauto</option>
                                                                            <option value="LSTMlabel">LSTMlabel</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-6 mt-2">
                                                                    <div class="col-md-4">
                                                                        <label for="epochs" class="font-weight-bold fs-5">Epochs</label>
                                                                        <input type="text" class="form-control" id="epochs" name="epochs" value="1" required>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label for="batch_size" class="font-weight-bold fs-5">Batch Size</label>
                                                                        <input type="text" class="form-control" id="batch_size" name="batch_size" value="1" required>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label for="percentage" class="font-weight-bold fs-5">Percentage of Training Set</label>
                                                                        <input type="number" class="form-control" id="percentage" name="percentage" value="60" min="0" max="100" step="10" required>
                                                                    </div>
                                                                </div> 
                                                                <div class="row mb-4 mt-4">
                                                                    <div class="col-md-12 text-center">
                                                                        <button type="submit" onclick="submitForm('/process_logs');" class="btn btn-primary btn-lg">Train</button>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                            </form>
                                                            <div class="col-md-12 mb-4">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h5 class="custom-header-h5">Validate</h5>
                                                                        <div class="row mb-4">
                                                                            <form action="/validate_logs", method="POST"> 
                                                                                    <div div class="col-md-4"">
                                                                                    {%if chosen_model %}
                                                                                        <button type="submit" onclick="submitForm('/validate_logs');" class="btn btn-secondary btn-margin-top">Validate</button>
                                                                                    {% endif %}
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-4">
                                                            <h5 class="custom-header-h5">Logs for activity "{{ selected_activity }}"</h5>
                                                            <p class="card-text mt-3">Logs related to the activity "{{ selected_activity }}". Click the button to train the model.</p>
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Log ID</th>
                                                                            <th style="border-left: 1px solid #dee2e6;" scope="col">Sensor</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for sensor, id_logs in logs.items() %}
                                                                            {% for id_log in id_logs %}
                                                                            <tr>
                                                                                <td>{{ id_log }}</td>
                                                                                <td style="border-left: 1px solid #dee2e6;">{{ sensor }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container mt-4">
                    <div class="row">
                        <!-- Accelerometer Card -->
                        {% if acc_dict %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer</h5>
                                    <!-- Iterate over the accel_dict dictionary -->
                                    {% for id_log, variances in acc_dict.items() %}
                                    <div class="mb-3">
                                        <h2 class="custom-header-id-log">Log_id: {{ id_log }}</h2>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span>{{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if acc_pca %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Accelerometer PCA</h5>
                                    <!-- Iterate over the acc_pca dictionary -->
                                    {% for id_log, variances in acc_pca.items() %}
                                    <div class="mb-3">
                                        <h2 class="custom-header-id-log">Log_id: {{ id_log }}</h2>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span> {{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <!-- Gyroscope Card -->
                        {% if gyro_dict %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope</h5>
                                    <!-- Iterate over the gyro_dict dictionary -->
                                    {% for id_log, variances in gyro_dict.items() %}
                                    <div class="mb-3">
                                        <h5 class="custom-header-id-log">Lod_id: {{ id_log }}</h5>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span> {{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if gyro_pca %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="custom-header-h5">Gyroscope PCA</h5>
                                    <!-- Iterate over the gyro_pca dictionary -->
                                    {% for id_log, variances in gyro_pca.items() %}
                                    <div class="mb-3">
                                        <h5 class="custom-header-id-log">Log_id: {{ id_log }}</h5>
                                        <p class="card-text">Variance values:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="bold-large-text">Variance X:</span> {{ variances.varianceX }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Y:</span> {{ variances.varianceY }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Variance Z:</span> {{ variances.varianceZ }}</li>
                                            <li class="list-group-item"><span class="bold-large-text">Activity:</span> {{ variances.activity }}</li>
                                        </ul>
                                    </div>
                                    {% if not loop.last %}
                                    <hr class="thick-separator">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class = "container mt-5">
        <h1 class="custom-header-h1">User Logs</h1>
        <div class="card shadow-lg">
            <div class="card-body">
                {% if user_movement %}
                <div class="container mt-4">
                    <div class="row">
                        <!-- Iterate over the result_list dictionary -->
                        {% for ID_user, ID_movement in user_movement.items() %}
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">User ID: {{ ID_user }}</h5>
                                        <p class="card-text">User Logs:</p>
                                        <ul class="list-group list-group-flush">
                                            {% for mov in ID_movement %}
                                                <li class="list-group-item">{{ mov }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Script per Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
